@model Projet.Net.Models.Resultat

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Resultat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group">
                <label asp-for="TournoiId" class="control-label"></label>
                <select asp-for="TournoiId" class ="form-control" asp-items="ViewBag.TournoiId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EquipeGagnanteId" class="control-label"></label>
                <select asp-for="EquipeGagnanteId" class ="form-control" asp-items="ViewBag.EquipeGagnanteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EquipePerdanteId" class="control-label"></label>
                <select asp-for="EquipePerdanteId" class ="form-control" asp-items="ViewBag.EquipePerdanteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ScoreGagnant" class="control-label"></label>
                <input asp-for="ScoreGagnant" class="form-control" />
                <span asp-validation-for="ScoreGagnant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScorePerdant" class="control-label"></label>
                <input asp-for="ScorePerdant" class="form-control" />
                <span asp-validation-for="ScorePerdant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateMatch" class="control-label"></label>
                <input asp-for="DateMatch" class="form-control" />
                <span asp-validation-for="DateMatch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
